= render 'shared/main-header'

= render 'shared/breadcrumbs'

%main.l-container
  .l-container__menu
    = render 'shared/mypage-sidemenu'
    = render 'shared/mypage-in-progress'

= render 'shared/main-footer'
