%header.main-header
  .header-inner
    .header-inner__top
      .header-inner__top--logo
        = link_to (root_path) do
          = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2845599746'
      .header-inner__top--form
        = form_with url: search_index_path, method: :get, local: true do |f|
          = f.text_field :keyword, class: 'input', placeholder: 'キーワードから探す'
          = icon 'fas', 'search', class: 'input__search--btn'
          = f.submit class: 'input__search'


    .header-inner__bottom
      %ul.header-inner__bottom--left
        %li.nav.header-inner__bottom--left__category
          カテゴリーから探す
          .header-inner__bottom--left__category__menu
            %ul.category__menu__large
              - @categories.each do |large|
                - if large.parent_id.nil?
                  %li
                    = link_to large.name, category_path(large.id), class: "category__menu__large_text"
                    %ul.category__menu__large__middle
                      - middle_index = 0
                      - @categories.each do |middle|
                        - if middle.parent_id == large.id && 14 > middle_index
                          %li
                            = link_to middle.name, category_path(middle.id)
                            - middle_index += 1
                            %ul.category__menu__large__middle__small
                              - small_index = 0
                              - @categories.each do |small|
                                - if small.parent_id == middle.id && 14 > small_index
                                  %li
                                    - small_index += 1
                                    = link_to small.name, category_path(small.id)

        %li.nav.header-inner__bottom--left__brand
          ブランドから探す
          .header-inner__bottom--left__brand__menu
            %ul.category__menu__large
              - @brands.each do |brand|
                %li
                  = link_to brand.name, root_path
              %li
                = link_to "ブランド一覧", root_path

      %ul.header-inner__bottom--right
        - if user_signed_in?
          %li.header-inner__bottom--right-login
            = link_to (root_path) do
              = icon 'fa', 'bell'
              お知らせ

          %li.header-inner__bottom--right-login
            = link_to (root_path) do
              = icon 'fa', 'angle-down'
              やることリスト

          %li.header-inner__bottom--right-login
            = link_to (users_path) do
              = image_tag current_user.image, width: "32"
              .header-inner__bottom--right-login-text
                マイページ

        - else
          %li.signin
            = link_to 'ログイン', new_user_session_path
          %li.signup
            = link_to '新規会員登録', new_user_path
