.l-content
  %h2.l-content__listings_head
    出品した商品

  %ul.l-content__listings_tabs
    %li
      %h3
        = link_to "出品中", listings_listing_users_path
    %li.l-content__listings_tabs-active
      %h3
        = link_to "取引中", listings_in_progress_users_path
    %li
      %h3
        = link_to "売却済", listings_completed_users_path

  .l-content__listings_contents
    -if @products.blank?
      %ul.l-content__listings_contents_content
        %li.l-content__listings_contents_content_none
          取引中の商品がありません
    -else
      %ul.l-content__listings_contents_content.l-content__listings_contents_active
        - @products.each do |product|
          %li
            = link_to product_path(product), class: "l-content__listings_contents_active_link" do
              .l-content__listings_contents_active_link_content
                = image_tag(product.item_image, class: 'l-content__listings_contents_active_link_image')
              .l-content__listings_contents_active_link_item
                .l-content__listings_contents_active_link_item_text
                  = product.name
                .l-content__listings_contents_active_link_item_icon
                  = icon 'fa', 'heart'
                  = product.favorites.length
                  = icon 'far', 'comment-alt'
                  = product.comments.length
                  %span.l-content__listings_contents_active_link_item_icon_status_red
                    取引中
              = icon 'fa', 'angle-right', class: 'l-content__listings_contents_active_link_arrow-right'
