- if (user_signed_in?) && (@product.user_id == current_user.id)
  %p.item-box__edit
    = link_to '商品を編集', edit_product_path(@product.id)
  or
  - if @product.status == true
    %p.item-box__stop
      = link_to '出品を一旦停止する', switch_products_path(@product.id), method: :patch
  - else
    %p.item-box__restart
      = link_to '出品を再開する', switch_products_path(@product.id), method: :patch
  %p.item-box__delete
    = link_to 'この商品を削除する', "/products/#{@product.id}", method: :delete, data: {confirm: "本当に削除しますか？"}
- else
  - if @product.is_buy
    %p.item-box__buy
      = link_to '購入画面に進む', product_transactions_path(@product.id)
  - else
    %p.item-box__stop
      = link_to '売り切れました',tabindex: "-1"
