.login__container
  = render '/shared/single/single-header'

  %main.login__container_main
    .login__container_main_content
      .login__container_main_content_no__account
        %p アカウントをお持ちでない方
        - if devise_mapping.registerable? && controller_name != 'registrations'
          = link_to "新規会員登録", new_registration_path(resource_name)
      .login__container_main_content_form__inner
        %button.registration__btn.btn-facebook
          = fa_icon "facebook-square", class: "facebook-icon"
          Facebookでログイン
        %button.registration__btn.btn-google
          = image_tag("https://img.icons8.com/color/48/000000/google-logo.png", class: "google-icon")
          Googleでログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login__container_main_content_form__inner_group
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス"
        .login__container_main_content_form__inner_group
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード"
        .login__container_main_content_form__inner_group
          = recaptcha_tags
        .login__container_main_content_form__inner_action
          = f.submit "ログイン", class: "registration__btn btn-red login-submit"
          - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
            = link_to "パスワードをお忘れの方", new_password_path(resource_name)

  = render '/shared/single/single-footer'
