= render 'shared/main-header'

= render 'shared/bread-crumbs'

%main.l-container
  .l-container__menu
    = render 'shared/mypage-sidemenu'

    / 後ほど、条件分岐でビューを変える
    = render 'mypage-card'
    = render 'mypage-add-card'

= render 'shared/main-footer'
