-# カテゴリ機能で選択したカテゴリの商品一覧を表示するページ
-# このページについて：categories/show.html.haml
-# このページのscssファイル：categories-show.scss
.header-wrapper
  = render '/shared/main-header'
  = render '/shared/breadcrumbs'
.set-baclground-color
  .category-wrapper
    .category-main-container
      %ul.categories-nav
        -# カテゴリ名は暫定的に入れています
        %li
          %a オートバイパーツ-----------------------------
        %li
          %a 自動車パーツ----------------------------------
        %li
          %a 自動車アクセサリー-----------------------------
        %li
          %a タイヤ・ホイール--------------------------
      .products-box
        %h1 ***の商品一覧
        -# 下記の@productsは動作確認用に暫定的に書いています
        .products-box__products-area
          - @products.each do |product|
            = render partial:'/shared/product-middle', locals: { product: product }
      - if @count >= 5
        %ul.pagenate-box
          = paginate @products
      .category-description
        .category-description__title
          %h3 カテゴリ名
        .category-description__content
          %p 自動車・オートバイの買い取り、売るならメルカリへ。自動車・オートバイの商品は90万点以上あります。人気のあるカテゴリーは外国自動車用パーツとメーターです。人気の商品は「メルセデス ベンツ 車 フロント ブラック シルバー」や「ガンマ　ウルフ　　メーター」があります。自動車・オートバイの売り方や整理を検討中の方にお勧めです。
  = render '/shared/main-footer'
