.wrapper-transaction-buy
  = render('/shared/single/single-header')

  %main.single-main
    .single-main__title
      %h2.single-main__title__text 購入を確定しますか？
    .single-main__transaction-buy
      .single-main__transaction-buy__image
        = image_tag('https://static.mercdn.net/item/detail/orig/photos/m23105812790_1.jpg?1549854089', width: "148", height: "148")
      .single-main__transaction-buy__product
        %p.single-main__transaction-buy__product__name 高品質カジュアル腕時計 ピンクゴールド レディース メッシュステンレス鋼バンド
        .single-main__transaction-buy__product__price
          ¥ 1,650
          %span.single-main__transaction-buy__product__price__tax 送料込み
        .single-main__transaction-buy__product__point
          = link_to users_path, method: :get, class: "single-main__transaction-buy__product__point__link" do
            %p.single-main__transaction-buy__product__point__link__text ポイントを使う
        .single-main__transaction-buy__product__payment-price
          %p 支払い金額
          %span ¥ 1,650
        .single-main__transaction-buy__product__point
          = link_to users_path, method: :get, class: "single-main__transaction-buy__product__point__link" do
            %p.single-main__transaction-buy__product__point__link__text 購入する

    .single-main__user-info
      .single-main__user-info__means
        .single-main__user-info__means__numbers
          %p 配送先
          〒755-4649
          %br
          東京都 港区 赤坂1-23-1
          %br
          小早川 建
          = link_to users_path, class: "single-main__user-info__means__numbers__path" do
            .single-main__user-info__means__numbers__path__text 変更する
            =fa_icon "angle-right", class: 'single-main__user-info__means__numbers__path__arrow-right'

    .single-main__user-info
      .single-main__user-info__means
        .single-main__user-info__means__numbers
          %p 支払い方法
          ************5555
          %br
          07/89
          %br
          = image_tag('//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3703848211', width: "49px", height: "15px")
          = link_to users_path, class: "single-main__user-info__means__numbers__path" do
            .single-main__user-info__means__numbers__path__text 変更する
            =fa_icon "angle-right", class: 'single-main__user-info__means__numbers__path__arrow-right'

  = render('/shared/single/single-footer')
