= render '/shared/main-header'
= render '/shared/breadcrumbs'

.product-detail-wrapper
  .product-detail-wrapper__container
    - flash.each do |message_type, message|
      -if message_type == "success" && (message == "出品停止しました" || message == "出品再開しました" || message == "コメントしました" || message == "削除しました")
        = javascript_tag "toastr.success('#{message}')"

    .item-box
      %h1.item-box__item-name
        = @product.name
      %p.item-box__item-description
        『#{@product.name}』は、#{@product.user.nickname}さんから出品されました。#{@product.category.name}/#{@product.category.root.name}の商品で、#{@product.delivary_option.prefecture.name}から発送されます。

      .item-box__item-main
        .item-box__item-main--main-img
          = image_tag(@product.item_image, class: 'active-img')

          .item-box__item-main--sub-img
            %ul
              - @product.product_images.each do |product_image|
                %li
                  = image_tag(product_image.image.url, class: 'bottom-img')

        %table.item-box__item-main--table
          %tr
            %th 出品者
            %td.item-box__item-main--table--change-color
              #{@product.user.nickname}
              .item-box__item-main--table--change-color_icons

                .item-box__item-main--table--change-color_icons_icon
                  = icon 'far', 'grin',class: "fa-grin"
                  %span
                    = @product.user.get_good_rate
                .item-box__item-main--table--change-color_icons_icon
                  = icon 'far', 'meh'
                  %span
                    = @product.user.get_normal_rate

                .item-box__item-main--table--change-color_icons_icon
                  = icon 'far', 'frown'
                  %span
                    = @product.user.get_low_rate

          %tr
            %th カテゴリー
            %td.item-box__item-main--table--change-color
              = link_to @product.category.root.name, category_path(@product.category.root.id)
              <br>
              >
              = link_to @product.category.parent.name, category_path(@product.category.parent.id)
              <br>
              >
              = link_to @product.category.name, category_path(@product.category.id)

          %tr
            %th ブランド
            = product_brand_name(@product)

          %tr
            %th 商品の状態
            %td
              = @product.state.name
          %tr
            %th 配送料の負担
            %td
              = @product.delivary_option.shippingpay.name
          %tr
            %th 配送の方法
            %td

              = @product.delivary_option.shippingmethod.name

          %tr
            %th 配送元地域
            %td.item-box__item-main--table--change-color
              = @product.delivary_option.prefecture.name
          %tr
            %th 発送日の目安

            %td
              = @product.delivary_option.shippingday.name

      .item-box__item-price
        .item-box__item-price--price
          %span ¥
          = @product.price
        .item-box__item-price--tax
          (税込)
        .item-box__item-price--postage
          -if @product.delivary_option.shippingpay.id == 0
            送料込み
          - else
            着払い

      .item-box__item-buy-btn
        = render 'shared/product_edit'

      .item-box__item-message
        %p #{@product.description}

      - if !(user_signed_in?) || (user_signed_in? && @product.user_id != current_user.id)
        .item-box__item-footer

          .item-box__item-footer--like{ class: "#{'item-box__item-footer--like-heart' if like?(@product.id)}", "data-label": "#{get_label(like?(@product.id))}", "data-id": @product.id }
            = icon 'fa', 'heart'

            %a.item-box__item-footer--like-content いいね!
            %a.item-box__item-footer--like-counter
              = @product.favorites.length

          .item-box__item-footer--report-btn
            = icon 'fa', 'flag'

            %a 不適切な商品の報告
          .item-box__item-footer--link-safety
            = icon 'fa', 'lock'
            %a あんしん・あんぜんへの取り組み

    - if @comments.present?
      .comments-list
        %ul
          - @comments.each do |comment|
            - if user_signed_in? && current_user.id == comment.user.id
              %li.comment-container__current
                = image_tag(comment.user.image, class: 'comment-container__current__user-avater')
                .comment-container__current__comment-box
                  .comment-container__current__comment-box--user-name
                    %p
                      = comment.user.nickname
                  .comment-container__current__comment-box--comment
                    %p
                      = comment.message
                    = icon 'far', 'clock'

                    %span
                      = distance_of_time_in_words_to_now(comment.created_at)
                    = icon 'fas', 'trash-alt', class: 'is-modal-icon', "data-message": comment.message, "data-id": comment.id

            - else
              %li.comment-container
                .comment-container_seller
                  = image_tag(comment.user.image, class: 'comment-container__user-avater')
                  - if comment.user_id == @product.user_id
                    %p.comment-container_seller_content 出品者

                .comment-container__comment-box
                  .comment-container__comment-box--user-name
                    %p
                      = comment.user.nickname
                  .comment-container__comment-box--comment
                    %p
                      = comment.message
                    = icon 'far', 'clock'

                    %span
                      = distance_of_time_in_words_to_now(comment.created_at)
                    - if user_signed_in? && current_user.id == @product.user_id
                      = icon 'fas', 'trash-alt', class: 'is-modal-icon', "data-message": comment.message, "data-id": comment.id


    - if user_signed_in?
      .comments-list
        %p.comments-list_message 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = form_for(@comment, url: product_comments_path(@product.id) , html: { method: :post}) do |f|
          =f.text_area :message, class: "comments-list_message-textarea"
          .error_message_box
            -if flash[:error].present?
              - flash[:error].each do |e|
                = e

          = f.submit "コメントする", class: "comments-list_message-btn registration__btn"

    .sns_icons
      .sns_icons__icon
        .sns_icons__icon--facebook
          = icon 'fab', 'facebook'

        .sns_icons__icon--twitter
          = icon 'fab', 'twitter'

        .sns_icons__icon--pinterest
          = icon 'fab', 'pinterest'



    .show-items
      %h3 #{@product.user.nickname}さんのその他の出品
      - @six_products_related_user.each do |u|
        = link_to(product_path(u.id), class: 'show-items__product') do
          = image_tag(u.item_image, class: 'show-items__product--img')
          .show-items__product--detail
            .name
              = u.name
            %p.price
              = u.price
            .price
            %p.tax (税込)

    .show-items

      %h3 #{@product.category.name}のその他の商品
      - @six_products_related_product.each do |p|
        = link_to(product_path(p.id), class: 'show-items__product') do
          = image_tag(p.item_image, class: 'show-items__product--img')
          .show-items__product--detail
            .name
              = p.name
            %p.price
              = p.price
            .price
            %p.tax (税込)

  %aside.is-modal
    .is-modal__inner
      .is-modal__body
        %p 確認
        %br
        .is-modal__body_gray
          = "内容内容"
        %br
        = "本当にこのコメントを削除してよろしいですか？"
      .cancel-btn キャンセル
      .is-modal__body_delete
        = button_to '削除する', "#", method: :delete, class: 'delete-change cancel-btn', onfocus:"this.blur();"

= render '/shared/main-footer'


