!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", 'http-equiv': "Content-Type"}/
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.9.0/css/flag-icon.css", rel: "stylesheet"}/
    %title FreemarketSample46b
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{ src: 'https://ajaxzip3.github.io/ajaxzip3.js', charset: 'UTF-8'}
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    :javascript
      Payjp.setPublicKey('pk_test_8ac097c8eb58056f014821bc');

  %body
    = yield
